[submodule "third/glog"]
	path = third/glog
	url = https://github.com/rockeet/glog.git
[submodule "third/slash"]
	path = third/slash
	url = https://github.com/rockeet/slash.git
[submodule "third/blackwidow"]
	path = third/blackwidow
	url = https://github.com/rockeet/blackwidow.git
[submodule "third/pink"]
	path = third/pink
	url = https://github.com/rockeet/pink.git
