[submodule "third/glog"]
	path = third/glog
	url = git@github.com:rockeet/glog.git
[submodule "third/slash"]
	path = third/slash
	url = git@github.com:rockeet/slash.git
[submodule "third/rocksdb"]
	path = third/rocksdb
	url = git@github.com:rockeet/rocksdb-private.git
[submodule "third/blackwidow"]
	path = third/blackwidow
	url = git@github.com:rockeet/blackwidow.git
[submodule "third/pink"]
	path = third/pink
	url = git@github.com:rockeet/pink.git
